html
    head 
        title MNIST Classification
        link(rel="stylesheet", type="text/css", href="../static/css/site.css")
    body 
        h1 MNIST Classification
        div.login-form-container 
            form(action="/", method="post")
                input(type="hidden", name="selected-image-url", id="selected-image-url")
                input(type="submit", value="Classify")  
        div.results
            if results 
                each result, i in results 
                    div.result
                        div #{i + 1}. Number prediction: #{result.prediction}
                        div &nbsp;&nbsp;&nbsp; Certainty score: &nbsp;&nbsp;&nbsp;  #{(result.score * 100).toFixed(3)}%
        div.image-container
            if mnistImages 
                each image in mnistImages 
                    div.image
                        img(src=('data:image/jpeg;base64,' + image.image_data), onclick="something('#{'image/jpeg; base64,' + image.image_data}', this)")
            if validationErrors
                each message in validationErrors 
                    div.text-error #{message}
        script.
            var something = function(e, img) {
                var selectedImgs = document.querySelectorAll("img.selected");
                for (var i = 0; i < selectedImgs.length; i++) {
                    selectedImgs[i].classList.remove("selected");
                }
                document.getElementById('selected-image-url').value = e;
                let images = document.getElementsV
                if (img.classList.contains("selected")) {
                    img.classList.remove("selected");
                } else {
                    img.classList.add("selected");
                }
            }